html{
    margin: 0;
    touch-action: manipulation;
    overflow-x: hidden;
    background-color: rgb(41, 41, 41);
}
body:hover{
    cursor:default;
}
::selection{
    background: rgba(255, 255, 255, 0.142);
}
body{
    margin:0;
    color:rgb(245, 222, 179);
    text-align: center;
}
#sum, .cards{
    padding-left: 10px;
}
.background-pic{
    position: fixed;
    top:0;
    left:0;
    object-fit: cover;
    opacity: .3;
    z-index: -5;
    width:100vw;
    height:100vh;
}
.playButton{
    background: none;
    color: rgb(245, 222, 179);
    font-size: 30px;
    font-weight: 700;
    border:none;
    font-family: 'Times New Roman', Times, serif;
    transition: .8s;
    animation: playBlackjack 10s linear infinite;
}
@keyframes playBlackjack{
    95%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}
p{
    font-size: 26px;
}
h2{
    text-align: left;
}
.button{
    width: 100px;
    height:30px;
    font-size: 16px;
    background-color:bisque;
    border:none;
    opacity: .7;
    transition: .3s;
    margin: 10px;
}
.button:hover{
    opacity: 1;
}
@media screen and (max-width:600px){
    .button:hover{
        opacity:.7;
    }
}
.buttondiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
}
.playerObject{
    text-align: center;
    font-size: 30px;
}
.dealerCards{
    text-align: center;
}
.bet{
    text-align: center;
}
.goButton{
width:350px;
}
